<form [formGroup]="form" (ngSubmit)="formSubmit.next(form)">
  <div class="form-group" *ngIf="form.controls.oldPassword">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">
          <i class="icon-lock"></i>
        </span>
      </div>
      <input type="password" class="form-control" placeholder="Old Password" formControlName="oldPassword">
    </div>
    <div class="error text-danger" *ngIf="form.controls.oldPassword.invalid && form.controls.oldPassword.touched">
      <em class="error invalid-feedback" *ngIf="form.controls.oldPassword.errors.required">
        Please enter old password
      </em>
    </div>
  </div>

  <div class="form-group">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">
          <i class="icon-lock"></i>
        </span>
      </div>
      <input type="password" class="form-control" placeholder="Password" formControlName="password">
    </div>
    <div class="error text-danger" *ngIf="form.controls.password.invalid && form.controls.password.touched">
      <em class="error invalid-feedback" *ngIf="form.controls.password.errors.required">
        Please enter new password
      </em>
      <em class="error invalid-feedback" *ngIf="form.controls.password.errors.minlength">
        Password must be 8 characters long
      </em>
    </div>
  </div>
  <div class="form-group">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">
          <i class="icon-lock"></i>
        </span>
      </div>
      <input type="password" class="form-control" placeholder="Repeat Password" formControlName="confirmPassword">
    </div>
    <div class="error text-danger" *ngIf="form.controls.confirmPassword.invalid && form.controls.confirmPassword.touched">
      <em class="error invalid-feedback" *ngIf="form.controls.confirmPassword.errors.required">
        Password Confirmation is required
      </em>
      <em class="error invalid-feedback" *ngIf="form.controls.confirmPassword.errors.MatchPassword">
        Passwords not match
      </em>      
    </div>
  </div>

  <div class="w-100 text-center">
    <app-submit-button [form]="form" [text]="_auth.user() ? 'Change Password' : 'Reset Password'"></app-submit-button>
  </div>
</form>