@import './../node_modules/@coreui/coreui/scss/coreui.scss';

$header-height: 55px;
$layout-main-color: rgba(0, 0, 0, 0.7);

app-header nav {
  background: $layout-main-color;
}

nav {
  max-height: $header-height;
}

.flex {
  display: flex;
  align-items: center;
}

div.wrapper {
  margin-top: $header-height;
  display: flex;
  align-items: stretch;
}

#content {
  width: 100%;
}

div.photo-review {
  max-width: 200px;
  -webkit-transition: ease width 2s, height 4s; /* Safari */
  transition: ease width 2s, height 4s;

  img {
    width: 100%;
  }
}

.mat-dialog-actions {
  justify-content: flex-end;
}

.font-small {
  font-size: 12px;
}

.no-background {
  margin: 0; padding: 0;
  background: none;
  border: none;
  box-shadow: none;
  outline-width: 0;
  &:hover {
      color: $blue;
  }
  &:focus, &:active {
      outline: 0;
      border: none;
      box-shadow: none;
      -moz-outline-style: none;
  }
}

em.invalid-feedback {
  display: block;
  font-size: .8rem;
}